body{
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.inner{
  width: 50%;
  max-width: 300px;
  height: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.1) ;
}
h2{
  text-align: center;
  margin-bottom: 20px;
}
form{
  display: grid;
  gap: 10px;
  width: 200px;
  height: 250px;
  background-color: whitesmoke;
  border-radius: 6px;
  border: lightblue 1px solid;
}
label{
  font-weight: bold;
}
input,select{
  display: flex;
  justify-content: center;
  width: 70%;
}
button{
  width: 50%;
  padding: 10px;
  margin-top: 30px;
  background-color: #007bff;
  color:#fff ;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover{
  background-color: #0056b3;

}




  
